.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  background-color: #0D1321;
}
.header > * {
  margin: 0 2rem;
}


.list {
  list-style: none;
  padding: 0%;
  display: flex;
  gap: 2rem;
}
.list a {
  color: #F0EBD8;
  text-decoration: none;
  padding: 0.5rem;
}
.list a:hover,
.list a.active {
  background-color: #F0EBD8;
  color: #0D1321;
}
